.profile__description {
    column-gap: 18px;
    display: grid;
    grid-template-columns: auto 24px;
    grid-template-rows: 40px 19px;
    padding-left: 30px;
    row-gap: 16px;
}

@media screen and (max-width: 670px) {
    .profile__description {
        padding: 27px 0 0;
        align-items: start;
        grid-template-columns: auto 18px;
        grid-template-rows: 26px 14px;
        row-gap: 14px;
        column-gap: 10px;
        justify-items: center;
        transform: translate(13px, 0px);
        max-width: calc(282px - (16px + 18px + 13px));
    }
}